body {
  text-align: center;
  /* background: #00ecb9; */
  background: #555;
  font-family: italic;
  font-weight: 100;
}
a{
  text-decoration: none;
  padding: 20px;
  border-radius: 40px;
  color:peachpuff;
  background: #333;
  display: inline-block;
  font-size: 35px;
  font-style: italic;
}

#clock {
  background: #222;
  border-radius: 40px;
}

.clock-title {
  /* color: #396; */
  color: peachpuff;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.clock {
  font-family: italic;
  color: peachpuff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 80px;
}

.clock-number {
  padding: 30px;
  border-radius: 5px;
  display: inline-block;
}

.clock-time {
  padding: 40px;
  border-radius: 40px;
  background: #333;
  display: inline-block;
}

.clock-time:hover{
  background: peachpuff;
  color:#333;
}

.clock-text {
  display: block;
  padding-top: 5px;
  font-size: 32px;
}

.clock-dat {
  color: peachpuff;
  font-size: 32px;
  font-style: italic;
}
.birthday-message {
  display: none;
  font-size: 48px;
  font-style: italic;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
body{
  background: #222;
}
}
